# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.2021_quantum_magick.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\GeorgeAdamon\Documents\GitHub\dfpi\workshops\unity\2021_quantum_magick\.idea\.idea.2021_quantum_magick\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
