# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UnityProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\GeorgeAdamon\Documents\GitHub\dfpi\workshops\unity\2021_quantum_magick\UnityProject\.idea\.idea.UnityProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
