# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ShaderGraphTutorial.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\GeorgeAdamon\Documents\GitHub\UCL-StudentRepos\ShaderGraphTutorial\.idea\.idea.ShaderGraphTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
